#loginContainer
    margin 96px 0
    padding 48px
    background #f 'https://help.github.com/assets/be-social-c18a45f6f11e243462b1ed1b1e42be38.gif' no-repeat 48px 48px
    max-width 700px
    border-radius 12px

    h3, h4
        margin 0 0 0 240px

    h3
        font x-large font_color normal

    h4
        font larger #4 normal

    .loginPrompt
        margin 48px 48px 0 240px


    .button
        button button_color
        display block
        width 80px
        margin 32px 12px


